body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  background: hsl(233, 47%, 7%);
  font-family: "Rowdies", cursive;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
.card-component-container {
  max-width: 960px;
  background: hsl(244, 38%, 16%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-component-info {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
